{% extends 'base.html.twig' %}

{% block body %}
    <h1>Refs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Authors</th>
                <th>Title</th>
                <th>Year</th>
                <th>Publisher</th>
                <th>Placeofpub</th>
                <th>Pages</th>
                <th>Textsummary</th>
                <th>Status</th>
                <th>Created</th>
                <th>Lastupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ref in refs %}
            <tr>
                <td><a href="{{ path('ref_show', { 'id': ref.id }) }}">{{ ref.id }}</a></td>
                <td>{{ ref.userId }}</td>
                <td>{{ ref.authors }}</td>
                <td>{{ ref.title }}</td>
                <td>{% if ref.year %}{{ ref.year|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ref.publisher }}</td>
                <td>{{ ref.placeOfPub }}</td>
                <td>{{ ref.pages }}</td>
                <td>{{ ref.textSummary }}</td>
                <td>{{ ref.status }}</td>
                <td>{% if ref.created %}{{ ref.created|date('Y-m-d') }}{% endif %}</td>
                <td>{% if ref.lastUpdated %}{{ ref.lastUpdated|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ref_show', { 'id': ref.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ref_edit', { 'id': ref.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ref_new') }}">Create a new ref</a>
        </li>
    </ul>
{% endblock %}
