{% extends 'base.html.twig' %}

{% block body %}
    <h1>User login</h1>
    {% if error %}
        {{ error.messageKey|trans(error.messageData, 'security') }}
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <input type="submit" value="login">
    {{ form_end(form) }}
{% endblock %}